#SectionMainDescription {
  height: 60rem;
  background-image: url("./src/assets/background1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.WebDescription {
  margin-top: 15%;
  text-align: justify;
  color: white;
  font-size: 22px;
  font-family:monospace;
}

.ButtonBusquedaaScroll {
  margin-top: 5rem;
  
}

html{
  scroll-behavior: smooth;
}
