#SectionLoginUser {
    height: 60rem;
    background-image: url("../../../assets/images/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.LoginCardSection{
    margin-bottom: 1rem;
}